pkgbase = flosh
	pkgdesc = Wayland-first capture, clipboard typing, and screenshot target workflow CLI
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/mfulz/flosh
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-platformdirs
	depends = python-tomlkit
	depends = python-typer
	optdepends = sway-contrib: grimshot screenshot backend
	optdepends = grim: low-level Wayland screenshot tool used by grimshot
	optdepends = slurp: Wayland area selection used by grimshot
	optdepends = satty: default interactive screenshot editor
	optdepends = swappy: legacy interactive screenshot editor
	optdepends = wl-clipboard: Wayland clipboard integration
	optdepends = xdotool: X11/XWayland typing backend, useful for Citrix/Wfica
	optdepends = wtype: Wayland typing backend
	optdepends = ydotool: evdev/uinput typing backend
	optdepends = fzf: terminal target picker
	optdepends = wofi: Wayland dmenu target picker
	optdepends = rofi: dmenu target picker
	optdepends = alacritty: default terminal for GUI-launched fzf
	optdepends = libnotify: desktop notifications via notify-send
	optdepends = tesseract: OCR support
	optdepends = imagemagick: OCR preprocessing support
	source = flosh-0.1.0.tar.gz::https://github.com/mfulz/flosh/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = c7239b72755777c23dc388861ebc181402e667497efefdf2e3e4f2601f102557

pkgname = flosh
